<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gut Buster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="/application.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300&display=swap" rel="stylesheet">
  </head>
  <body class="wrapper">

    <div class="container">
      <header>
        <div class="title-container">
          <img class="icon" src="/favicon.io">
          <h1>Gut Buster</h1>
          <img class="icon" src="/favicon.io">
        </div>
        <h2>Helping you understand you GI Symptoms</h2>
        <nav>
        </nav>
      </header>

      <%= yield %>

		</div>
  </body>
</html>